---
import Layout from '../layouts/Layout.astro';
import HeroBanner from '../components/HeroBanner.astro';
---

<Layout title="About">
	<main>
		<HeroBanner
            title="About"
            description="It's just a way of life, lived from the heart. We dont see colour or difference, we just see one world - (Ras Jahknow Brimbank Weekly)"
            image="/carousel-1.jpeg"
        />
		<section class="w-8/12 mx-auto my-10">
			
		</section>
	</main>
</Layout>