---
import HeroBanner from "../components/HeroBanner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Biography">
    <main>
        <HeroBanner
            title="Biography"
            description="It's just a way of life, lived from the heart. We dont see colour or difference, we just see one world - (Ras Jahknow Brimbank Weekly)"
            image="/carousel-1.jpeg"
        />
        <section
            class="w-8/12 container mx-auto my-20 flex gap-8 justify-between"
        >
            <div class="w-6/12">
                <img src="/biography.jpeg" alt="Biography" />
            </div>
            <div class="w-6/12">
                <h2 class="text-2xl font-medium mb-4 uppercase">About Ras Jahknow</h2>
                <p>
                    Ras Jahknow blazes new soul and fresh rhythms into what is
                    described best as culturally rich, roots reggae music.
                    Passionate vocals in English and Creole weave through the
                    diverse native sounds from the African island nation of Cape
                    Verde, Brazil, Tanzania and Mauritius to Australia. The band
                    embodies a vision of unity, respect and peace, built on the
                    foundation of irresistible, reggae rhythms.
                </p>

                <p>
                    Cape Verdean born Ras Jahknow formed the band in late 2010,
                    and they have since cemented themselves as one of
                    Melbourne’s most iconic reggae ensembles, showcasing at 2014
                    Antenna Awards and performing at numerous festivals such as:
                </p>
                <ul>
                    <li>Brimbank Festival – 2011</li>
                    <li>Black Harmony Gathering – 2012</li>
                    <li>The West African Festival – Immigration Museum</li>
                    <li>Emerge Festival – 2012</li>
                    <li>Rise Festival – Federation Square – 2012</li>
                    <li>Viva Victoria Festival – 2014</li>
                    <li>Waitangi Festival – 2014</li>
                    <li>French Fest – 2014</li>
                    <li>
                        Bob Marley Birthday Bash – Corner Hotel – 2012, 2013,
                        2015, 2016, 2017 &amp; 2018
                    </li>
                    <li>
                        Africa Music &amp; Cultural Festival – 2014, 2015, 2016,
                        2017, 2018
                    </li>
                    <li>Africultures Festival – Sydney – 2016</li>
                    <li>Strawberry Fields Festival – 2015</li>
                    <li>Tanglewood Festival – 2015, 2016 &amp; 2017</li>
                    <li>
                        Jamaican Music &amp; Food Festival – 2016, 2017, 2018
                    </li>
                    <li>St Kilda Festival – 2017</li>
                    <li>Brunswick Music Festival – 2017</li>
                    <li>Sunraysia Multicultural Festival – 2017</li>
                    <li>Roots Reggae Cruise around Melbourne - 2017</li>
                    <li>Live n Local Winter Music Festival - 2017</li>
                    <li>Bali Reggae Star Festival - 2017</li>
                    <li>Langkawi Island International Music Festival - 2017</li>
                    <li>Samba Reggae Carnivale 2017 &amp; 2018</li>
                    <li>Moomba Festival 2019</li>
                </ul>
                <br />
                <p>
                    Ras Jahknow has spent time in numerous countries abroad,
                    developing a rounded, cultural understanding, and through
                    the Ras Jahknow Band, he aims to bridge the contemporary
                    gaps in cultural understanding and unity.
                </p>

                <p>
                    Ras Jahknow Band released their debut album “Jah Sta Li” in
                    May 2014, followed by a dub remix released later the same
                    year. Both records were produced by acclaimed personality
                    Wayne ‘Lotek’ Bennett at Counter Clockwise Studios. Current
                    releases have enjoyed airplay across national radio such as
                    Triple J and hundreds of Community radio stations both
                    nationally and abroad.
                </p>

                <p>
                    2015 saw the band release a film clip for ‘Jah Sta Li’,
                    embarking on a the Victorian ‘Jah Live’ tour to celebrate
                    the single’s success. In mid 2015, Ras Jahknow was nominated
                    for a Music Victoria Genre Award for ‘Best Global &amp;
                    Reggae Album’.
                </p>

                <p>
                    In 2017, Ras Jahknow humbly accepted the Award for Best
                    Reggae Performer/Band of the year 2015/16 at the Australia
                    Reggae Radio Music Awards.
                </p>

                <p>
                    ‘Jah Sta Li’ is available for download on iTunes and all
                    major digital online outlets. ‘Jah Sta Li Dub’ is now
                    available via Bandcamp.
                </p>

                <p>
                    The organic sound is a product of the many talented
                    musicians who have music and performance in their blood. All
                    members are multi-instrumentalists and come from
                    professionally skilled music backgrounds.
                </p>

                <p>
                    Ras Jahknow has released six stellar singles ‘You &amp;I;’
                    in 2011 and ‘Get up &amp; Live’ Feat. Jason Heerah in 2012,
                    ‘Can’t Change Jah Jah Man’, ‘Let’s Unite’ 2013, ‘Erba
                    Internacional’ in 2014, ‘What A Gwan’ 2016, all having
                    regular airplay on local and international radios. Ras
                    Jahknow’s Album ‘JAH STA LI’ &amp; ‘JAH STA LI’ Dub Album
                    are both available now.
                </p>
            </div>
        </section>
      
    </main>
</Layout>

<style is:inline>
    ul {
        list-style-type: disc;
        padding: 0 0 0 35px;
        margin-top: 0;
        margin-bottom: 10px;
    }
</style>
