---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import { contentfulClient } from "../lib/contentful";
interface ContactPage {
  contentTypeId: "eRL0cxhoQMb3vZTgIHiUO";
  fields: {
    title: string;
    subTitle: string;
    heroBanner: {
      fields: {
        file: {
          url: string | undefined;
        };
      };
    };
    content: string;
  };
}

const entry = await contentfulClient.getEntry<ContactPage>(
  "eRL0cxhoQMb3vZTgIHiUO"
);
---

<Layout title="Contact">
  <HeroBanner
    title={entry?.fields?.title}
    description={entry?.fields?.subTitle}
    image={entry?.fields.heroBanner.fields.file?.url}
  />
  <section class="w-9/12 mx-auto my-10">
    <div class="container">
      <div class="text-center">
        <h2>Thank you! we'll be in contact with you soon</h2>
      </div>
    </div>
  </section>
</Layout>
