---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import EventsList from "../components/EventsList.astro";
---

<Layout title="Events Ras Jahknow">
  <main>
    <HeroBanner
      title="Events"
      description="See all Ras Jahknow Gigs & Tours"
      image="/carousel-2.jpeg"
    />
    <EventsList/>
  </main>
</Layout>
