---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import LightboxGallery from "../components/LightboxGallery";
import { contentfulClient } from "../lib/contentful";
import type { GalleryItem } from "../lib/types";

const entries = await contentfulClient.getEntries<GalleryItem>({
  content_type: "gallery",
});

const { items } = entries;
---

<Layout title="Gallery">
  <main>
    <HeroBanner
      title="Gallery"
      description="See all Ras Jahknow latest photos"
      image="/carousel-3.jpeg"
    />
    <section class="w-9/12 mx-auto my-10">
      <LightboxGallery data={items} client:load />
    </section>
  </main>
</Layout>
