---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Members from "../components/Members.astro";
import Albums from "../components/Albums.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- <h1>Welcome to <span class="text-gradient">Astro</span></h1> -->
		<Carousel />
		<section class="w-8/12 mx-auto my-10">
			<Members />
		</section>
		<Albums/>
	</main>
</Layout>


