---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Members from "../components/Members.astro";
import AlbumsHome from "../components/AlbumsHome.astro";
import EventsList from "../components/EventsList";
import VideoFeatured from "../components/VideoFeatured.astro";
import PressKit from "../components/PressKit.astro";
---

<Layout title="Ras Jahknow">
  <Carousel />
  <section class="w-9/12 mx-auto my-10">
    <Members />
  </section>
  <AlbumsHome />
  <EventsList client:load />
  <VideoFeatured />
  <PressKit />
</Layout>
