---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Members from "../components/Members.astro";
import AlbumsHome from "../components/AlbumsHome.astro";
import EventsList from "../components/EventsList.astro";
import VideoFeatured from "../components/VideoFeatured.astro";
---

<Layout title="Ras Jahknow">
  <main>
    <Carousel />
    <section class="w-8/12 mx-auto my-10">
      <Members />
    </section>
    <AlbumsHome />
    <EventsList/>
    <VideoFeatured />
  </main>
</Layout>
