---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
---

<Layout title="Music">
  <main>
    <HeroBanner
      title="Music"
      description="See all Ras Jahknow Music"
      image="/carousel-4.jpeg"
    />
    <section class="w-11/12 md:w-9/12 container mx-auto mt-10 mb-5">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="border-0 w-full album"
            src="https://bandcamp.com/EmbeddedPlayer/album=1782021373/size=large/bgcol=333333/linkcol=e32c14/minimal=true/transparent=true/"
            seamless
            ><a href="https://rasjahknow.bandcamp.com/album/jah-sta-li">Jah Sta
            Li by RAS JAHKNOW</a></iframe
          >
        </div>
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="border-0 w-full album"
            name="iframe1"
            id="iframe1"
            src="https://bandcamp.com/EmbeddedPlayer/track=1877009766/size=large/bgcol=333333/linkcol=e32c14/minimal=true/transparent=true/"
            seamless
            ><a href="https://rasjahknow.bandcamp.com/track/what-a-gwan">What A
            Gwan by Ras Jahknow</a></iframe
          >
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="border-0 w-full album"
            src="https://bandcamp.com/EmbeddedPlayer/album=1462385926/size=large/bgcol=333333/linkcol=e32c14/minimal=true/transparent=true/"
            seamless
            ><a href="https://rasjahknow.bandcamp.com/album/jah-sta-li-dub">Jah
            Sta Li Dub by Ras Jahknow</a>
          </iframe>
        </div>
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="border-0 w-full album"
            src="https://bandcamp.com/EmbeddedPlayer/track=860860485/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/transparent=true/"
            seamless
            ><a href="https://rasjahknow.bandcamp.com/track/get-up-live">GET UP
            &amp; LIVE by RAS JAHKNOW</a></iframe
          >
        </div>
      </div>
    </section>
  </main>
</Layout>

<style is:inline>
  .album {
    height: 500px;
  }

  @media only screen and (min-width: 767px)  {
    .album {
      height: 680px;
    }
  }
</style>
