---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
---

<Layout title="Music">
  <main>
    <HeroBanner
      title="Music"
      description="See all Ras Jahknow Music"
      image="/carousel-0.jpeg"
    />
    <section class="w-11/12 md:w-8/12 container mx-auto my-10">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="border-0 w-full"
            src="https://bandcamp.com/EmbeddedPlayer/album=1782021373/size=large/bgcol=333333/linkcol=e32c14/minimal=true/transparent=true/"
            seamless
            style="height:700px"
            ><a href="https://rasjahknow.bandcamp.com/album/jah-sta-li">Jah Sta
            Li by RAS JAHKNOW</a></iframe
          >
        </div>
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="border-0 w-full"
            name="iframe1"
            id="iframe1"
            src="https://bandcamp.com/EmbeddedPlayer/track=1877009766/size=large/bgcol=333333/linkcol=e32c14/minimal=true/transparent=true/"
            seamless
            style="height:700px"
            ><a href="https://rasjahknow.bandcamp.com/track/what-a-gwan">What A
            Gwan by Ras Jahknow</a></iframe
          >
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="border-0 w-full"
            src="https://bandcamp.com/EmbeddedPlayer/album=1462385926/size=large/bgcol=333333/linkcol=e32c14/minimal=true/transparent=true/"
            seamless
            style="height:700px"
            ><a href="https://rasjahknow.bandcamp.com/album/jah-sta-li-dub">Jah
            Sta Li Dub by Ras Jahknow</a>
          </iframe>
        </div>
        <div class="w-12/12 md:w-6/12 py-4"></div>
      </div>
    </section>
  </main>
</Layout>