---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import { contentfulClient } from "../lib/contentful";
import type { Entry } from "contentful";

interface VideoItem {
  contentTypeId: "videos";
  fields: {
    youtubeUrl: Entry;
    title: string;
    featured: boolean;
  };
}

const entries = await contentfulClient.getEntries<VideoItem>({
  content_type: "videos",
});

const featured = entries.items.find((item: any) => item.fields.featured);
---

<Layout title="Videos">
  <main>
    <HeroBanner
      title="Videos"
      description="See all Ras Jahknow Videos"
      image="/carousel-5.jpeg"
    />
    <section class="w-11/12 md:w-8/12 mx-auto my-10">
      <div class="w-12/12 md:w-12/12 py-4">
        <iframe
          class="w-full h-96"
          style="height:560px!important"
          src={featured?.fields.youtubeUrl}
          title={featured?.fields.title}
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          entries &&
            entries.items
              .slice(0)
              .reverse()
              .map(
                (item: any, i: number) =>
                  !item.fields.featured && (
                    <div class="w-12/12">
                      <iframe
                        class="w-full"
                        height="315"
                        src={item.fields.youtubeUrl}
                        title={item.fields.title}
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      />
                    </div>
                  )
              )
        }
      </div>
    </section>
  </main>
</Layout>
