---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import { contentfulClient } from "../lib/contentful";
interface VideoPage {
  contentTypeId: "33JXxifb79nwQyQSBTdJaY";
  fields: {
    title: string;
    subTitle: string;
    heroBanner: {
      fields: {
        file: {
          url: string | undefined;
        };
      };
    };
    content: string;
  };
}

const entry = await contentfulClient.getEntry<VideoPage>(
  "33JXxifb79nwQyQSBTdJaY"
);
interface VideoItem {
  contentTypeId: "videos";
  fields: {
    youtubeUrl: string;
    title: string;
    featured: boolean;
    youtube: string;
  };
}

const entries = await contentfulClient.getEntries<VideoItem>({
  content_type: "videos",
});

const featured = entries.items.find((item: any) => item.fields.featured);
---

<Layout title="Videos">
  <HeroBanner
    title={entry?.fields?.title}
    description={entry?.fields?.subTitle}
    image={entry?.fields.heroBanner.fields.file?.url + '?fm=avif'}
  />
  <section class="w-11/12 md:w-9/12 mx-auto my-10">
    {
      featured && (
        <div class="w-12/12 md:w-12/12 py-4">
          <Fragment set:html={featured?.fields.youtube} />
        </div>
      )
    }

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        entries &&
          entries.items.map((item: any, i: number) =>
            !item.fields.featured ? (
              <div class="w-12/12">
                <Fragment set:html={item.fields.youtube} />
              </div>
            ) : null
          )
      }
    </div>
  </section>
</Layout>

<script is:inline>
  (function (w, d) {
    var id = "embedly-platform",
      n = "script";
    if (!d.getElementById(id)) {
      w.embedly =
        w.embedly ||
        function () {
          (w.embedly.q = w.embedly.q || []).push(arguments);
        };
      var e = d.createElement(n);
      e.id = id;
      e.async = 1;
      e.src =
        ("https:" === document.location.protocol ? "https" : "http") +
        "://cdn.embedly.com/widgets/platform.js";
      var s = d.getElementsByTagName(n)[0];
      s.parentNode.insertBefore(e, s);
    }
  })(window, document);
</script>
