---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
---

<Layout title="Videos">
  <main>
    <HeroBanner
      title="Videos"
      description="See all Ras Jahknow Videos"
      image="/carousel-5.jpeg"
    />
    <section class="w-11/12 md:w-8/12 mx-auto my-10">
      <div class="w-12/12 md:w-12/12 py-4">
        <iframe
          class="w-full h-96"
          style="height:560px!important"
          src="https://www.youtube.com/embed/kNNT16i-7wM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="w-full"
            height="315"
            src="https://www.youtube.com/embed/gdMdDNoXf54"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="w-full"
            height="315"
            src="https://www.youtube.com/embed/k0NBTOyYpy8"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="w-full"
            height="315"
            src="https://www.youtube.com/embed/VER2SuNF7cY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="w-full"
            height="315"
            src="https://www.youtube.com/embed/d18Xa7BXMfU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="w-full"
            height="315"
            src="https://www.youtube.com/embed/iYGnN-o4MTI"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div class="w-12/12 md:w-6/12 py-4">
          <iframe
            class="w-full"
            height="315"
            src="https://www.youtube.com/embed/ahn2LjKFUkk"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </section>
  </main>
</Layout>
