---
import Button from "./Button.astro";
import { contentfulClient } from "../lib/contentful";

interface MusicItem {
  contentTypeId: "albums";
  fields: {
    embed: string;
  };
  position: number;
}

const entries = await contentfulClient.getEntries<MusicItem>({
  content_type: "albums",
});
---

<section class="bg-black bg-opacity-90">
  <div class="flex gap-8">
    <div
      class="md:w-4/12 md:block hidden pl-8 py-10 ml-8 mt-auto mb-auto h-full"
    >
      <h2 class="text-white text-2xl uppercase font-semibold mb-8">Music</h2>
      <Button href="/music">View all albums</Button>
    </div>
    <div class="Albums flex p-10 gap-x-8 gap-y-2 overflow-x-auto ">
      {
        entries &&
          entries.items
            .sort((a, b) => a.fields.position - b.fields.position)
            .map((item: any, i: number) => {
              return (
                <div class="py-2 w-full album">
                  <Fragment key={i} set:html={item?.fields.embed} />
                </div>
              );
            })
      }
      <!-- <div class="py-4">
        <iframe
          class="border-0 md:w-96 md:h-96 w-60 h-60"
          src="https://bandcamp.com/EmbeddedPlayer/album=1782021373/size=large/bgcol=333333/linkcol=e32c14/minimal=true/transparent=true/"
          seamless
          ><a href="https://rasjahknow.bandcamp.com/album/jah-sta-li">Jah Sta Li
          by RAS JAHKNOW</a></iframe
        >
      </div>
      <div class="py-4">
        <iframe
          class="border-0 md:w-96 md:h-96 w-60 h-60"
          src="https://bandcamp.com/EmbeddedPlayer/track=1877009766/size=large/bgcol=333333/linkcol=e32c14/minimal=true/transparent=true/"
          seamless
          ><a href="https://rasjahknow.bandcamp.com/track/what-a-gwan">What A
          Gwan by Ras Jahknow</a></iframe
        >
      </div>
      <div class="py-4">
        <iframe
          class="border-0 md:w-96 md:h-96 w-60 h-60"
          src="https://bandcamp.com/EmbeddedPlayer/album=1462385926/size=large/bgcol=333333/linkcol=e32c14/minimal=true/transparent=true/"
          seamless
          ><a href="https://rasjahknow.bandcamp.com/album/jah-sta-li-dub">Jah
          Sta Li Dub by Ras Jahknow</a></iframe
        >
      </div>
      <div class="py-4">
        <iframe
          class="border-0 md:w-96 md:h-96 w-60 h-60"
          src="https://bandcamp.com/EmbeddedPlayer/track=860860485/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/transparent=true/"
          seamless
          ><a href="https://rasjahknow.bandcamp.com/track/get-up-live">GET UP
          &amp; LIVE by RAS JAHKNOW</a></iframe
        >
      </div> -->
    </div>
  </div>
</section>

<style is:inline>
  /* Firefox */
  .Albums {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  .Albums::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .Albums::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 0px;
  }

  .Albums::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 0px;
    border: 0px solid var(--primary);
  }

  .album {
    width: 340px !important;
    min-width: 340px;
  }
  @media only screen and (min-width: 767px) {
    .album {
      width: 450px !important;
      min-width: 450px;
    }
  }
</style>

<script is:inline>
  (function (w, d) {
    var id = "embedly-platform",
      n = "script";
    if (!d.getElementById(id)) {
      w.embedly =
        w.embedly ||
        function () {
          (w.embedly.q = w.embedly.q || []).push(arguments);
        };
      var e = d.createElement(n);
      e.id = id;
      e.async = 1;
      e.src =
        ("https:" === document.location.protocol ? "https" : "http") +
        "://cdn.embedly.com/widgets/platform.js";
      var s = d.getElementsByTagName(n)[0];
      s.parentNode.insertBefore(e, s);
    }
  })(window, document);
</script>
