---
import Button from "./Button";
---

<div class="bg-[#e65454] height-96 text-center mx-auto py-20">
    <h2 class="text-white text-2xl font-semibold uppercase mb-4">Bookings</h2>
    <Button href="/contact" className="bg-[#872222] text-white">Contact Us</Button>
</div>