---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a
    href={href}
    class="cursor-pointer appearance-none py-2 my-4 px-4 bg-transparent border-2 uppercase text-white font-semibold shadow-md hover:bg-red-700 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75"
>
    <slot />
</a>
