---
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
---

<header class="bg-black bg-opacity-80 w-full dark:bg-gray-800 fixed z-50">
    <div class="container py-6">
        <div
            class="flex w-full flex-wrap justify-between items-center "
        >
            <Logo />
            <Navigation/>
        </div>
    </div>
</header>
