<div>
    <a href="/">
        <img
            class="w-24 md:w-36"
            src="/logo-no-lion-2026.webp"
            class="image-logo"
            alt="logo"
            loading="eager"
        />
    </a>
</div>
