<div>
    <a href="/">
        <img
            class="w-48"
            src="/rasjahknow-logo.png"
            class="image-logo"
            alt="logo"
            loading="lazy"
        />
    </a>
</div>
