<div>
    <a href="/">
        <img
            class="w-48"
            src="/rasjahknow-logo.webp"
            class="image-logo"
            alt="logo"
            loading="eager"
        />
    </a>
</div>
