---
import Button from "./Button";
import { contentfulClient } from "../lib/contentful";

import { Image } from "astro:assets";
import ContactDetails from "./ContactDetails";

interface MemberItem {
  contentTypeId: "bandMembers";
  fields: {
    name: string;
    instrument: string;
    image: {
      fields: {
        file: {
          url: string | undefined;
          title: string | undefined;
        };
      };
    };
    position: number;
  };
}

const entries = await contentfulClient.getEntries<MemberItem>({
  content_type: "bandMembers",
});
---

<div
  class="flex w-full justify-between md:flex-row md:items-center mb-6 flex-col py-8"
>
  <div class="md:m-0 mb-6 ">
    <h2 class="text-2xl font-semibold uppercase mb-4">Band Members</h2>
 
    <Button href="/biography" className="!text-black hover:!text-white">
      View Biography
    </Button>
  </div>

  <ContactDetails client:load />
</div>

<div class="grid grid-cols-1 md:grid-cols-4 gap-x-4 gap-y-4">
  {
    entries &&
      entries.items
        .sort((a, b) => a.fields.position - b.fields.position)
        .map((item: any, i: number) => (
          <div>
            <div class="h-auto md:h-72 hover:opacity-90 hover:cursor-pointer hover:border-l-8 transition-all hover:border-[#e65454]">
              {item.fields.image?.sys?.id && item.fields.image?.fields?.file?.url && (
                <Image
                  class="h-auto md:h-72 w-96 grayscale object-cover"
                  src={item.fields.image.fields.file.url.startsWith('//') ? 'https:' + item.fields.image.fields.file.url : item.fields.image.fields.file.url}
                  alt={item.fields.name + " - " + item.fields.instrument}
                  loading="lazy"
                  format="avif"
                  width="270"
                  height="270"
                />
              )}
            </div>

            <div class="p-4">
              <h3 class="font-semibold text-lg">{item.fields.name}</h3>
              <p class="text-md">{item.fields.instrument}</p>
            </div>
          </div>
        ))
  }
</div>
