<div class="flex justify-between items-start py-8">
    <h2 class="text-2xl font-medium uppercase">Band Members</h2>
    <p class="text-right"> 
        For bookings contact: Tanya @ Sona Productions <br>
        Phone: <a class="text-red-500 hover:text-red-700" href="tel:+61 420 203 829">+61 420 203 829</a><br>
        Email: <a class="text-red-500 hover:text-red-700" href="mailto:rasjahknowband@gmail.com">rasjahknowband@gmail.com</a>
    </p>
</div>
<div class="grid grid-cols-1 md:grid-cols-4 gap-x-6 gap-y-4">
    <div>
        <img class="h-auto max-w-full" src="/ras-270x270.jpg" alt="" />
        <div class="p-4">
            <h3 class="font-medium text-lg">Ras Jahknow</h3>
            <p class="text-md">Lead Singer & Rhythm Guitar</p>
        </div>
    </div>
    <div>
        <img class="h-auto max-w-full" src="/judex-270x270.jpg" alt="" />
        <div class="p-4">
            <h3 class="font-medium text-lg">Judex Rose</h3>
            <p class="text-md">Lead Guitar & Backing Vocals</p>
        </div>
    </div>
    <div>
        <img class="h-auto max-w-full" src="/jono-james-270x270.jpg" alt="" />
        <div class="p-4">
            <h3 class="font-medium text-lg">Jono James</h3>
            <p class="text-md">Trombone</p>
        </div>
    </div>
    <div>
        <img class="h-auto max-w-full" src="/ben-270x270.png" alt="" />
        <div class="p-4">
            <h3 class="font-medium text-lg">Ben Caruana</h3>
            <p class="text-md">Bass</p>
        </div>
    </div>
    <div>
        <img class="h-auto max-w-full" src="/joel-270x270.jpg" alt="" />
        <div class="p-4">
            <h3 class="font-medium text-lg">Joel Plymin</h3>
            <p class="text-md">Saxophone</p>
        </div>
    </div>
    <div>
        <img class="h-auto max-w-full" src="/chad-270x270.jpg" alt="" />
        <div class="p-4">
            <h3 class="font-medium text-lg">Chad Blaster</h3>
            <p class="text-md">Drums</p>
        </div>
    </div>
    <div>
        <img class="h-auto max-w-full" src="/ted-270x270.jpg" alt="" />
        <div class="p-4">
            <h3 class="font-medium text-lg">Ted Kazan</h3>
            <p class="text-md">Trumpet</p>
        </div>
    </div>
</div>
