---
---

<nav>
    <ul class="flex justify-between items-center gap-8 uppercase text-white font-semibold ">
        <li class="hover:text-red-500">
            <a href="/" aria-current="page">Home</a>
        </li>
        <li class="hover:text-red-500">
            <a href="/biography">Bio</a>
        </li>
        <li class="hover:text-red-500">
            <a href="/events">Events</a>
        </li>
        <li class="hover:text-red-500">
            <a href="/discography">Discography</a>
        </li class="hover:text-red-500">
        <li class="hover:text-red-500">
            <a href="/gallery">Gallery</a>
        </li>
        <li class="hover:text-red-500">
            <a href="/video">Video</a>
        </li>
        <li class="hover:text-red-500">
            <a href="/contact">Contact Us</a>
        </li>
    </ul>
</nav>
