---
import Instagram from "./Instagram.astro";
import Newsletter from "./Newsletter.astro";
---

<section class="bg-gray-900 flex md:flex-row flex-col items-center justify-center gap-6 bg-opacity-80 p-16 mx-auto">
  <div class="w-full md:w-6/12">
    <Instagram />
  </div>
  <div class="w-full md:w-6/12">
<Newsletter/>

 </div>
</section>
