---
import Button from "./Button";
---

<div
  class="bg-gradient-to-r from-red-800 via-yellow-700 to-green-800 height-96 text-center mx-auto py-20"
>
  <Button target="_blank" href="https://onepagelink.com/rasjahknow">
    Download Press Kit
  </Button>
</div>
