---
import Button from "./Button";
---

<div
  class="bg-gradient-to-r from-red-800 via-yellow-700 to-green-800 height-96 py-12 mx-auto flex flex-col items-center justify-center gap-3 text-center md:flex-row"
>
  <Button target="_blank" href="/Ras-Jahknow-Band-Press-Kit-26_DA2.pdf">
    Download Press Kit
  </Button>

  <Button target="_blank" href="https://onepagelink.com/rasjahknow">
    View One Page Link
  </Button>
</div>
