---
interface Props {
  platform: string;
  username: string;
}

const { platform, username } = Astro.props;
---

<a
  class="appearance-none flex justify-center items-center py-2 my-4 px-2 text-white"
  href={`https://www.${platform}.com/${username}`}
>
  <img
    class="w-8 text-white"
    src={platform === "facebook"
      ? "/facebook.svg"
      : platform === "instagram"
      ? "/instagram.svg"
      : "/youtube.svg"}
    alt={`${platform} icon`}
    loading="lazy"
  />
</a>