---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Roots Reggae Band Melbourne, Victoria</title>
	</head>
	<body>
		<Header />
		<!-- START INNER PAGE CONTENT <MAIN> -->
		<slot />
		<!-- END INNER PAGE CONTENT <MAIN> -->
		<Footer />
		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"
		></script>
	</body>
</html>

<style is:global>
	:root {
		--primary: black;
		--secondary: #e65454;
	}
	a,
	button {
		transition: all 0.2s ease-in-out;
	}
</style>